<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <form action="/login" method="post">
        <h1>LOG IN</h1>
          <label> Email: </label> <br>
          <input type="text" name="email" id="email" value="<%= locals.email %>" required><br>
          <label> Password: </label> <br>
          <input type="password" name="password" id="password" required>
          <p style="color: red;"><%= locals.message %></p>
          <br>
        <input type="submit" value="login" class="button" >
        <br>
    </form>
</body>
</html>