<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <form action="/register" method="post">
        <h1>Register Now</h1>
          <label> Name: </label> <br>
          <input type="text" name="name" id="name" required> <br>
          <label> Email: </label> <br>
          <input type="text" name="email" id="email" required> <br>
          <label> Password: </label> <br>
          <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="register" class="button" >
    </form>
</body>
</html>